:root {
    --btn-color-1: #34FFC8;
    --btn-color-1-dark: #2cc29a;
    --color-txt-btn: #171717;
    --color-white: #fcfcfc;
    --bg-dark: #212121;
}

.my-btn-primary {
    background-color: var(--btn-color-1);
    border-radius: 20px;
    padding: .5rem 1rem;
    &:hover{
        background-color: var(--btn-color-1-dark);
    }
}




//Font

.ElzaBlack {
    font-family: elza, sans-serif;
    font-weight: 900;
    font-style: normal;
}



.ElzaBlackOblique {
    font-family: elza, sans-serif;

    font-weight: 900;

    font-style: italic;

}



.ElzaBold {
    font-family: elza, sans-serif;

    font-weight: 700;

    font-style: normal;

}



.ElzaBoldOblique {
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: italic;

}



.ElzaExtralight {
    font-family: elza, sans-serif;
    font-weight: 200;
    font-style: normal;
}



.ElzaExtralightOblique {
    font-family: elza, sans-serif;

    font-weight: 200;

    font-style: italic;

}



.ElzaLight {
    font-family: elza, sans-serif;

    font-weight: 300;

    font-style: normal;

}



.ElzaLightOblique {
    font-family: elza, sans-serif;

    font-weight: 300;

    font-style: italic;

}



.ElzaMedium {
    font-family: elza, sans-serif;

    font-weight: 500;

    font-style: normal;

}



.ElzaMediumOblique {
    font-family: elza, sans-serif;

    font-weight: 500;

    font-style: italic;

}



.ElzaOblique {
    font-family: elza, sans-serif;

    font-weight: 400;

    font-style: italic;

}



.ElzaRegular {

    font-family: elza, sans-serif;

    font-weight: 400;

    font-style: normal;
}



.ElzaSemibold {
    font-family: elza, sans-serif;

    font-weight: 600;

    font-style: normal;

}



.ElzaSemiboldOblique {
    font-family: elza, sans-serif;

    font-weight: 600;

    font-style: italic;

}



.ElzaThin {
    font-family: elza, sans-serif;

    font-weight: 100;

    font-style: normal;

}



.ElzaThinOblique {
    font-family: elza, sans-serif;

    font-weight: 100;

    font-style: italic;

}